<a href="https://colab.research.google.com/github/vicfera001/Exercicios_probabilidade_estatistica/blob/main/Exerc%C3%ADcios_Profa_Alessandra2b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Conceitos básicos de amostragem**

1) População e Amostra: Em uma pesquisa de uma escola de 90 alunos (população), sorteamos 9 números (10% e 90) usando o mecanismo aleatório.

**Pergunta:** Em Python, como criar uma tabela e exibir números aleatórios.

In [1]:
#biblioteca random permite trabalhar com números randômicos

import random

#criar array
espaco_amostral = [14, 35, 30, 19, 66, 27, 77, 45, 38]

#função choice é utilizada para
numero_randomico = random.choice(espaco_amostral)

#exibir o número randômico
print("número randômico:", numero_randomico)

número randômico: 35

:

**Tipos de amostragem**

**1) Amostragem aleatória simples**

a. Com base em uma lista de alunos, como podemos criar uma amostragem aleatória simples?

In [2]:
import numpy as np
import pandas as pd

# Lista de alunos
alunos = ['Ana', 'Bruno', 'Carlos', 'Diana', 'Eduardo', 'Fernanda', 'Gustavo', 'Helena', 'Igor', 'Julia']

# Criando um DataFrame com os alunos
dados_alunos = pd.DataFrame({'Nome': alunos})

# Definindo o tamanho da amostra
tamanho_amostra = 4

# Seleção de uma amostra aleatória simples
amostra_alunos = dados_alunos.sample(n=tamanho_amostra, random_state=1)

print("Alunos Originais:")
print(dados_alunos)
print("\nAmostra Aleatória Simples:")
print(amostra_alunos)

Alunos Originais:
       Nome
0       Ana
1     Bruno
2    Carlos
3     Diana
4   Eduardo
5  Fernanda
6   Gustavo
7    Helena
8      Igor
9     Julia

Amostra Aleatória Simples:
      Nome
2   Carlos
9    Julia
6  Gustavo
4  Eduardo

:

**2) Amostragem sistemática:**

a. Com base em uma população de 1.000 pessoas e amostra com 100 elementos, como calculamos a amostragem sistemática?

In [4]:
import numpy as np

#Tamanho da população e da amostra
populacao_tamanho = 1000
amostra_tamanho = 100

#Gerar uma população de exemplo
populacao = np.arange(populacao_tamanho)

#Calcular o intervalo (k) de amostragem
intervalo = populacao_tamanho // amostra_tamanho  #divisão inteira

#Selecionar um ponto de partida aleatório entre 0 e o intervalo
ponto_de_partida = np.random.randint(0, intervalo)

#Selecionar a amostra usando amostragem sistemática
amostra_sistematica = populacao[ponto_de_partida::intervalo] #operador:: indica a  posição do índice

print("População:", populacao)
print("Amostra Sistemática:", amostra_sistematica)

População: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611
 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629
 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647
 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665
 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683
 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701
 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719
 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737
 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755
 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773
 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791
 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809
 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827
 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845
 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863
 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881
 882 883 884 885 886 887 888 889 890 891 892 893 894 895 896 897 898 899
 900 901 902 903 904 905 906 907 908 909 910 911 912 913 914 915 916 917
 918 919 920 921 922 923 924 925 926 927 928 929 930 931 932 933 934 935
 936 937 938 939 940 941 942 943 944 945 946 947 948 949 950 951 952 953
 954 955 956 957 958 959 960 961 962 963 964 965 966 967 968 969 970 971
 972 973 974 975 976 977 978 979 980 981 982 983 984 985 986 987 988 989
 990 991 992 993 994 995 996 997 998 999]
Amostra Sistemática: [  0  10  20  30  40  50  60  70  80  90 100 110 120 130 140 150 160 170
 180 190 200 210 220 230 240 250 260 270 280 290 300 310 320 330 340 350
 360 370 380 390 400 410 420 430 440 450 460 470 480 490 500 510 520 530
 540 550 560 570 580 590 600 610 620 630 640 650 660 670 680 690 700 710
 720 730 740 750 760 770 780 790 800 810 820 830 840 850 860 870 880 890
 900 910 920 930 940 950 960 970 980 990]

:

**3) Amostragem estratificada:**

a. Com base em uma tabela (chamada dados), contendo: Id, Curso e Notas, criar uma tabela manual utilizando a tabela dados como parâmetro e aplicar o conceito de amostragem estratificada:

In [8]:
import numpy as np
import pandas as pd

#Criação de um DataFrame de exemplo com estudantes e seus cursos
dados = pd.DataFrame({'ID': np.arange(1, 101),
                      'Curso': ['Engenharia'] * 30 +
                               ['Medicina'] * 40 + ['Direito'] * 30,
                       'Nota': np.random.uniform(0, 10, 100) })  #Notas variando de 0 a 10

#Tamanho da amostra desejada por curso
amostra_tamanhos = {'Engenharia': 10, 'Medicina': 15, 'Direito': 10}

#Amostragem estratificada manual
amostra = pd.DataFrame()

#Engenharia
estrato_engenharia = dados[dados['Curso'] == 'Engenharia']
amostra_engenharia = estrato_engenharia.sample(n=amostra_tamanhos['Engenharia'], random_state=42)
amostra = pd.concat([amostra, amostra_engenharia])

#Medicina
estrato_medicina = dados[dados['Curso'] == 'Medicina']
amostra_medicina = estrato_medicina.sample(n=amostra_tamanhos['Medicina'], random_state=42)
amostra = pd.concat([amostra, amostra_medicina])

#Direito
estrato_direito = dados[dados['Curso'] == 'Direito']
amostra_direito = estrato_direito.sample(n=amostra_tamanhos['Direito'], random_state=42)
amostra = pd.concat([amostra, amostra_direito])

print("Dados Originais:")
print(dados)
print("\nAmostra Estratificada:")
print(amostra)

Dados Originais:
     ID       Curso      Nota
0     1  Engenharia  3.901316
1     2  Engenharia  1.803068
2     3  Engenharia  2.967150
3     4  Engenharia  5.654402
4     5  Engenharia  4.242323
..  ...         ...       ...
95   96     Direito  4.166696
96   97     Direito  6.485079
97   98     Direito  6.848607
98   99     Direito  3.780221
99  100     Direito  7.576441

[100 rows x 3 columns]

Amostra Estratificada:
    ID       Curso      Nota
27  28  Engenharia  8.513837
15  16  Engenharia  9.792251
23  24  Engenharia  7.391029
17  18  Engenharia  8.886152
8    9  Engenharia  1.258250
9   10  Engenharia  7.101359
28  29  Engenharia  0.588766
24  25  Engenharia  1.332183
12  13  Engenharia  9.793708
0    1  Engenharia  3.901316
49  50    Medicina  3.851467
46  47    Medicina  9.645560
45  46    Medicina  5.148814
56  57    Medicina  7.720306
34  35    Medicina  4.066070
42  43    Medicina  3.822972
67  68    Medicina  5.100131
57  58    Medicina  4.475256
69  70    Medicina  9.956304
36  37    Medicina  2.076191
55  56    Medicina  8.718759
39  40    Medicina  8.740560
43  44    Medicina  5.886297
61  62    Medicina  0.595327
64  65    Medicina  5.274472
97  98     Direito  6.848607
85  86     Direito  0.463896
93  94     Direito  1.067997
87  88     Direito  4.920320
78  79     Direito  4.920502
79  80     Direito  7.981485
98  99     Direito  3.780221
94  95     Direito  7.148847
82  83     Direito  7.246357
70  71     Direito  0.555852

:

**4) Amostragem por conglomerados:**

a. Com base em uma tabela de alunos e suas respectivas notas, como obter uma amostragem por conglomerados?

In [9]:
import numpy as np
import pandas as pd

#Criação de um DataFrame de exemplo com estudantes agrupados em classes
dados = pd.DataFrame({
                      'ID': np.arange(1, 101),
                      'Classe': np.repeat(np.arange(1, 11), 10), #10 conglomerados (classes) com 10 estudantes cada
                      'Nota': np.random.uniform(0, 10, 100) #Notas variando de 0 a 10
                      })


#Seleção de conglomerados (classes) aleatórios np.random.seed(42)
conglomerados_selecionados = np.random.choice(dados['Classe'].unique(), size=3, replace=False)

#Filtrando os dados para incluir apenas os conglomerados selecionados
amostra_conglomerados = dados[dados['Classe'].isin(conglomerados_selecionados)]

print("Dados Originais:")
print(dados)
print("\nConglomerados Selecionados:", conglomerados_selecionados)
print("Amostra por Conglomerados:")
print(amostra_conglomerados)

Dados Originais:
     ID  Classe      Nota
0     1       1  6.826220
1     2       1  0.610507
2     3       1  6.617272
3     4       1  8.007967
4     5       1  3.722236
..  ...     ...       ...
95   96      10  5.206012
96   97      10  4.324849
97   98      10  5.574866
98   99      10  0.353425
99  100      10  0.550983

[100 rows x 3 columns]

Conglomerados Selecionados: [10  7  4]
Amostra por Conglomerados:
     ID  Classe      Nota
30   31       4  1.781605
31   32       4  0.242838
32   33       4  1.405273
33   34       4  3.898745
34   35       4  9.631594
35   36       4  1.494127
36   37       4  8.965816
37   38       4  7.720799
38   39       4  4.865065
39   40       4  6.517198
60   61       7  1.285306
61   62       7  0.572168
62   63       7  8.152107
63   64       7  4.579560
64   65       7  5.310186
65   66       7  1.186402
66   67       7  9.269926
67   68       7  7.304196
68   69       7  5.260024
69   70       7  6.115848
90   91      10  8.196720
91   92      10  7.337759
92   93      10  3.820705
93   94      10  3.995134
94   95      10  0.077583
95   96      10  5.206012
96   97      10  4.324849
97   98      10  5.574866
98   99      10  0.353425
99  100      10  0.550983

:

**5) Amostragem por conveniência:**

a. Com base em uma tabela de estudantes e suas respectivas notas, como obter uma amostragem por conveniência?

In [10]:
import pandas as pd
import numpy as np

#Criando um DataFrame de exemplo com estudantes
dados = pd.DataFrame({
                'ID': np.arange(1, 101),
                'Nome': [f'Estudante {i}' for i in range(1, 101)],
                'Nota': np.random.uniform(0, 10, 100)  # Notas variando de 0 a 10
               })

#Seleção de uma amostra por conveniência (os primeiros 20 estudantes)
amostra_conveniencia = dados.head(20)

print("Dados Originais:")
print(dados)
print("\nAmostra por Conveniência:")
print(amostra_conveniencia)

Dados Originais:
     ID           Nome      Nota
0     1    Estudante 1  2.984889
1     2    Estudante 2  0.423574
2     3    Estudante 3  0.638054
3     4    Estudante 4  3.053784
4     5    Estudante 5  4.372597
..  ...            ...       ...
95   96   Estudante 96  0.679285
96   97   Estudante 97  6.681358
97   98   Estudante 98  2.743096
98   99   Estudante 99  4.964870
99  100  Estudante 100  4.807596

[100 rows x 3 columns]

Amostra por Conveniência:
    ID          Nome      Nota
0    1   Estudante 1  2.984889
1    2   Estudante 2  0.423574
2    3   Estudante 3  0.638054
3    4   Estudante 4  3.053784
4    5   Estudante 5  4.372597
5    6   Estudante 6  6.536314
6    7   Estudante 7  0.975073
7    8   Estudante 8  2.859246
8    9   Estudante 9  7.628427
9   10  Estudante 10  3.678569
10  11  Estudante 11  2.894541
11  12  Estudante 12  6.394113
12  13  Estudante 13  7.416279
13  14  Estudante 14  9.879950
14  15  Estudante 15  1.395232
15  16  Estudante 16  7.865388
16  17  Estudante 17  1.056724
17  18  Estudante 18  6.597441
18  19  Estudante 19  2.997746
19  20  Estudante 20  2.415473

:

**6) Amostragem intencional:**

a. Com base em uma tabela de estudantes e suas respectivas notas, como obter uma amostragem
intencional?

In [11]:
import pandas as pd
import numpy as np

# Criando um DataFrame de exemplo com estudantes
dados = pd.DataFrame({
           'ID': np.arange(1, 101),
           'Nome': [f'Estudante {i}' for i in range(1, 101)],
           'Nota': np.random.uniform(0, 10, 100)  # Notas variando de 0 a 10
        })

# Seleção de uma amostra intencional (estudantes com nota acima de 8)
amostra_intencional = dados[dados['Nota'] > 8]

print("Dados Originais:")
print(dados)
print("\nAmostra Intencional:")
print(amostra_intencional)

Dados Originais:
     ID           Nome      Nota
0     1    Estudante 1  4.885420
1     2    Estudante 2  3.010512
2     3    Estudante 3  8.946926
3     4    Estudante 4  0.962906
4     5    Estudante 5  7.470602
..  ...            ...       ...
95   96   Estudante 96  7.132877
96   97   Estudante 97  4.843576
97   98   Estudante 98  0.708971
98   99   Estudante 99  1.101486
99  100  Estudante 100  1.301849

[100 rows x 3 columns]

Amostra Intencional:
    ID          Nome      Nota
2    3   Estudante 3  8.946926
10  11  Estudante 11  8.676561
11  12  Estudante 12  9.868739
18  19  Estudante 19  8.757266
19  20  Estudante 20  9.379767
23  24  Estudante 24  9.315378
29  30  Estudante 30  8.842848
31  32  Estudante 32  8.794078
32  33  Estudante 33  8.047863
33  34  Estudante 34  8.930369
34  35  Estudante 35  8.449106
39  40  Estudante 40  9.845729
45  46  Estudante 46  9.866512
46  47  Estudante 47  8.701597
54  55  Estudante 55  8.660186
57  58  Estudante 58  9.517605
60  61  Estudante 61  9.360711
62  63  Estudante 63  8.499515
63  64  Estudante 64  9.351320
64  65  Estudante 65  8.905544
65  66  Estudante 66  8.431383
70  71  Estudante 71  8.366581
73  74  Estudante 74  8.193552
78  79  Estudante 79  8.412943
79  80  Estudante 80  9.057627
84  85  Estudante 85  9.342440
88  89  Estudante 89  8.294612
89  90  Estudante 90  9.033862
92  93  Estudante 93  9.720092

:

**7) Amostragem por cotas:**

a. Com base em uma tabela de cursos e notas, como obter uma amostragem por cotas?

In [12]:
import pandas as pd
import numpy as np

#Criando um DataFrame de exemplo com estudantes
dados = pd.DataFrame({
            'ID': np.arange(1, 101),
           'Curso': ['Engenharia'] * 30 + ['Medicina'] * 40 + ['Direito'] * 30,
           'Nota': np.random.uniform(0, 10, 100)  #Notas variando de 0 a 10
         })

#Definindo cotas: queremos 10 estudantes de Engenharia, 15 de Medicina e 5 de Direito
cota_engenharia = dados[dados['Curso'] == 'Engenharia'].sample(n=10, random_state=42)
cota_medicina = dados[dados['Curso'] == 'Medicina'].sample(n=15, random_state=42)
cota_direito = dados[dados['Curso'] == 'Direito'].sample(n=5, random_state=42)

#Concatenando as cotas para formar a amostra final
amostra_cotas = pd.concat([cota_engenharia, cota_medicina, cota_direito])


print("Dados Originais:")
print(dados)
print("\nAmostra por Cotas:")
print(amostra_cotas)

Dados Originais:
     ID       Curso      Nota
0     1  Engenharia  9.868713
1     2  Engenharia  5.366143
2     3  Engenharia  9.944166
3     4  Engenharia  8.025610
4     5  Engenharia  8.899648
..  ...         ...       ...
95   96     Direito  4.408179
96   97     Direito  1.951199
97   98     Direito  2.975003
98   99     Direito  7.884324
99  100     Direito  6.657885

[100 rows x 3 columns]

Amostra por Cotas:
    ID       Curso      Nota
27  28  Engenharia  6.081426
15  16  Engenharia  0.159039
23  24  Engenharia  5.619099
17  18  Engenharia  8.097387
8    9  Engenharia  5.374793
9   10  Engenharia  0.205426
28  29  Engenharia  9.924516
24  25  Engenharia  5.595861
12  13  Engenharia  1.533537
0    1  Engenharia  9.868713
49  50    Medicina  7.580482
46  47    Medicina  5.097844
45  46    Medicina  5.822111
56  57    Medicina  9.848227
34  35    Medicina  8.148033
42  43    Medicina  8.601410
67  68    Medicina  7.379149
57  58    Medicina  0.998317
69  70    Medicina  9.707214
36  37    Medicina  9.765662
55  56    Medicina  6.824360
39  40    Medicina  2.921783
43  44    Medicina  7.060683
61  62    Medicina  0.631222
64  65    Medicina  7.013827
97  98     Direito  2.975003
85  86     Direito  6.494290
93  94     Direito  0.564604
87  88     Direito  5.933750
78  79     Direito  8.332841

:

**8) Amostragem bola de neve:**

a. Com base em um dicionário com 10 participantes, como obter uma amostragem bola de neve?

In [13]:
import numpy as np
#Lista inicial de participantes (semente)
participantes_iniciais = ['Participante 1', 'Participante 2']
#Dicionário simulando indicações de novos participantes
indicacoes = {
    'Participante 1': ['Participante 3', 'Participante 4'],
    'Participante 2': ['Participante 5', 'Participante 6'],
    'Participante 3': ['Participante 7', 'Participante 8'],
    'Participante 4': ['Participante 9', 'Participante 10']
}
#Etapa 1: Adicionando participantes iniciais
amostra_bola_de_neve = participantes_iniciais.copy()

#Etapa 2: Adicionando participantes indicados pelos iniciais
novos_participantes = []
novos_participantes.extend(indicacoes.get('Participante 1', []))
novos_participantes.extend(indicacoes.get('Participante 2', []))
amostra_bola_de_neve.extend(novos_participantes)

#Etapa 3: Adicionando participantes indicados pelos novos participantes
novos_participantes_temp = []
novos_participantes_temp.extend(indicacoes.get('Participante 3', []))
novos_participantes_temp.extend(indicacoes.get('Participante 4', []))
amostra_bola_de_neve.extend(novos_participantes_temp)

print("Amostra Final (Bola de Neve):")
print(amostra_bola_de_neve)

Amostra Final (Bola de Neve):
['Participante 1', 'Participante 2', 'Participante 3', 'Participante 4', 'Participante 5', 'Participante 6', 'Participante 7', 'Participante 8', 'Participante 9', 'Participante 10']

:

**9) Amostragem desproporcional:**

a. A tabela Grupos possui os campos: Id, Grupo e Valor. Com base no conceito de amostragem desproporcional, como podemos criar um código em Python utilizando a tabela mencionada?

In [14]:
import pandas as pd
import numpy as np

# Criando um DataFrame de exemplo com diferentes grupos
dados = pd.DataFrame({
    'ID': np.arange(1, 101),
    'Grupo': ['Grupo A'] * 40 + ['Grupo B'] * 30 + ['Grupo C'] * 30,
    'Valor': np.random.uniform(0, 100, 100)
})

# Definindo os tamanhos desproporcionais para cada grupo
amostra_desproporcional = {
    'Grupo A': 10,
    'Grupo B': 15,
    'Grupo C': 5
}

#Selecionando amostras desproporcionais
amostra_A = dados[dados['Grupo'] == 'Grupo A'].sample(n=amostra_desproporcional['Grupo A'], random_state=42)
amostra_B = dados[dados['Grupo'] == 'Grupo B'].sample(n=amostra_desproporcional['Grupo B'], random_state=42)
amostra_C = dados[dados['Grupo'] == 'Grupo C'].sample(n=amostra_desproporcional['Grupo C'], random_state=42)

#Concatenando as amostras para formar a amostra final
amostra_final = pd.concat([amostra_A, amostra_B, amostra_C])

print("Dados Originais:")
print(dados)
print("\nAmostra Desproporcional:")
print(amostra_final)

Dados Originais:
     ID    Grupo      Valor
0     1  Grupo A  64.086175
1     2  Grupo A  51.191079
2     3  Grupo A  82.835230
3     4  Grupo A  62.504964
4     5  Grupo A  68.217213
..  ...      ...        ...
95   96  Grupo C  13.630755
96   97  Grupo C  17.664062
97   98  Grupo C   9.203040
98   99  Grupo C  68.329714
99  100  Grupo C  10.750494

[100 rows x 3 columns]

Amostra Desproporcional:
    ID    Grupo      Valor
19  20  Grupo A  70.959607
16  17  Grupo A  51.737722
15  16  Grupo A  63.788700
26  27  Grupo A   2.968367
4    5  Grupo A  68.217213
12  13  Grupo A  74.079747
37  38  Grupo A  68.211261
27  28  Grupo A  48.387027
39  40  Grupo A  46.218305
6    7  Grupo A  69.371669
67  68  Grupo B  15.262852
55  56  Grupo B   0.545428
63  64  Grupo B  46.469341
57  58  Grupo B  40.815008
48  49  Grupo B  23.193189
49  50  Grupo B  78.046671
68  69  Grupo B  57.373030
64  65  Grupo B  59.330928
52  53  Grupo B  49.617448
40  41  Grupo B  42.595067
44  45  Grupo B  33.066838
56  57  Grupo B  18.862555
45  46  Grupo B  11.928374
53  54  Grupo B  33.284557
51  52  Grupo B  84.235430
97  98  Grupo C   9.203040
85  86  Grupo C  79.690953
93  94  Grupo C  94.728766
87  88  Grupo C  46.588426
78  79  Grupo C  29.030653

:

**Tamanho da amostra**

A fórmula para calcular o tamanho da amostra depende de alguns fatores, como o nível de confiança desejado, a margem de erro aceitável e a variabilidade da população. A fórmula comum para amostras aleatórias simples é:

$$n = \frac{Z^2 \cdot p \cdot (1 - p)}{e^2}$$

Em Python, a exponenciação é representada por: **. O código para representarmos a fórmula acima é:

In [ ]:
n = (Z**2 * p * (1 - p)) / (e**2)

1) Para cálculo de Tamanho da Amostra, temos os seguintes parâmetros:

a. Z = 1.96 (95% do nível de confiança)

b. P = 0.5 (proporção da polução)

c. E = 0.05 (margem de erro)

Com base nesses parâmetros, desenvolva um código em Python para representar o Tamanho da Amostra.

In [15]:
import math

#Parâmetros para o cálculo do tamanho da amostra
Z = 1.96  #valor Z para 95% de nível de confiança
p = 0.5   #proporção da população
e = 0.05  #margem de erro

#Cálculo do tamanho da amostra
n = (Z**2 * p * (1 - p)) / (e**2)

#Arredondando para o próximo número inteiro
n = math.ceil(n)

print("Tamanho da Amostra:", n)

Tamanho da Amostra: 385

:

**Erro Amostral**

Para representar o conceito de Erro Amostral em Python, utilizamos as seguintes funções:

A função random.seed() em Python é usada para inicializar o gerador de números aleatórios.

Quando você define a semente (ou seed), você garante que a sequência de números aleatórios gerados será a mesma toda vez que você executar o código. Isso é muito útil em várias situações, como quando você deseja que seus resultados sejam reprodutíveis para fins de teste, depuração, ou para compartilhar com outras pessoas que possam querer replicar seus resultados.

Como Funciona random.seed(): Quando você define uma semente usando random.seed(n), você está dizendo ao gerador de números aleatórios para iniciar em um ponto específico na sequência de números pseudoaleatórios. O valor de n pode ser qualquer número inteiro.

A função random.randint faz parte do módulo random em Python e é usada para gerar números inteiros aleatórios dentro de um intervalo especificado. A sintaxe básica da função é: random.randint(a,b, size= n), onde o parâmetro
size cria um array conforme o tamanho informado.

1) Com base no conceito Erro Amostral, vamos criar um código em Python para gerar uma população, utilizando a função Random.randint(1, 3000, size= 1000) e realizar os seguintes cálculos:

a. Calcular a média da população: utilizar a função mean(a)

b. Selecionar uma amostra aleatória: utilizar a função random.choice(a, size=100, replace=false)

c. Calcular a média da amostra: utilizar a função mean(a)

d. Calcular o erro da amostragem: utilizar a fórmula: erro_amostragem = media_amostra – media_polulação

In [16]:
import numpy as np
import pandas as pd

#Gerar uma população de exemplo
np.random.seed(1)
populacao = np.random.randint(1, 3000, size=1000)

#Calcular a média da população
media_populacao = np.mean(populacao)

#Selecionar uma amostra aleatória
amostra = np.random.choice(populacao, size=100, replace=False)

#Calcular a média da amostra
media_amostra = np.mean(amostra)

#Calcular o erro de amostragem
erro_amostragem = media_amostra - media_populacao

print("Média da População:", media_populacao)
print("Média da Amostra:", media_amostra)
print("Erro de Amostragem:", erro_amostragem)

Média da População: 1500.222
Média da Amostra: 1672.37
Erro de Amostragem: 172.1479999999999